<div class='user_profile'>
<h2> Welcome, <%=@user.username%>!</h2>

<h4>How are you saving time today?</h4>
<button type='button' class='my_poms' formaction=<%=@user.id%>>My Poms</button>
<button type='button' class='new_poms' formaction=<%=@user.id%>>Design a new Pom</button>

</div>
